    <div>
      <%= link_to "Home", root_path %>
      <%= link_to "About Me", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Blogs", blogs_path %>
      <%= link_to "Portfolio", portfolios_path %>
    </div>

    <section class="dark">
            <a href="/"><p class="gradient1">
                <%= fa_icon "diamond" %></p>
            </a>
        </section><a href="/" class="nav-link mr-auto home-link"> James Briggs</a>