<div id="background" class="about-background">
    <div class="header">
    <%= render "shared/application_nav" %>
        <div class="welcome-content">
            <div class="container">
                    <p class="lead">With a background in marketing and development I want to change how you experience business services, by delivering world class product and having exceptional communication along the way.</p>
                    <h1 class="cover-heading">Passion, Development, Marketing!</h1>
                    <p>
                        <%= link_to "Instagram", 'https://www.instagram.com/jamesmbriggs', class: "btn-home", target: "_blank" %>
                        <%= link_to "Twitter", 'https://twitter.com/bZodeJames', class: "btn-home", target: "_blank" %>
                    </p>
            </div>
        </div>
    </div>
</div>
    <div class="about-me">
        <h1>Who Am I?</h1>
        <div class="row about-content">
            <div class="col-lg-4">
                <%= image_tag "profile.jpg", width: 350, alt: "profile image" %>
            </div>
            <div class="col-lg-8 my-bio">
                <p>Why be ordinary when you are capable of standing out?! Whether it is developing a new website or web application, creating a marketing campaign, or cheering for my favorite sports team. I pride myself in not just going along with the crowd, but standing out. I put this pride into my work, and focus on delivering the best product while communicating and always improving along the way.</p>

                <p>I first got my start in web development in 2010 when my family wanted to do an email family newsletter. In order to send the newsletter I taught myself HTML/CSS and from there I grew a passion for web development. Before long I started developing landing and sales pages for the company I was working for, that quickly turned into getting a lot of enjoyment out of marketing as well.</p>

                <p>Whether I am helping create a marketing campaign that grows business assets over 800%, or creating solutions through creative web applications.  I love the process of working with a team and creating something amazing together. With a culture that encourages innovation and creativity I want to help people accomplish the unimaginable.</p>

                <h4>So I ask you, are you ready to stand out?</h4>

                <div class="features" ><%= link_to "Yes! I'm Ready to Stand Out!", contact_path, class: 'btn-home-inverse' %></div>
                        
                

            </div>
        </div>
    </div>
    <div class="my-background">
        <h1>Services</h1>
        <div class="row about-content">
            <div class="col-md-4">
                <h4>Web Development</h4>
                <p>I build a modern website using all of the latest technologies from WordPress, Ruby, and more. I will ensure that your needs are met.</p>
            </div>
            <div class="col-md-4">
                <h4>Ruby on Rails</h4>
                <p>Meet the power of Ruby on Rails. Have your custom web application built out and completely customized to your needs!</p>
            </div>
            <div class="col-md-4">
                <h4>Digital Marketing</h4>
                <p>Whether it is setting up funnels, email campaigns, or other marketing needs! I will help target your goals and audience!</p>
            </div>
        </div>
    </div>
    <div id="background" class="about-links">
        <div class="header about-links-content">
            <div class="row">
                <div class="col-md-4">
                    <p><%= link_to "My Resume", "https://s3-us-west-2.amazonaws.com/bzode-devcamp-portfolio/uploads/JamesBriggs_Resume_2018.pdf", class: "btn-home", target: "_blank" %></p>
                    <br><br>
                    <p><%= link_to "My Portfolio", portfolios_path, class: "btn-home" %></p>
                </div>
                <div class="col-md-8">
                    <p></p>

                </div>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <h1>Testimonials</h1>
        <div class="row about-content">
            <% @testimonials.each do |testimonial| %>
               <div class="col-md-2">
                    <%= image_tag "tania_testimonial.jpg", alt: "Testimonial Image", class: "testimonial" %>
               </div>
               <div class="col-md-10">
                    <p><%= testimonial.body %></p>
                    <p class="signature">- <%= testimonial.name %><br><%= testimonial.title %></p>
               </div>
            <% end %>
        </div>
    </div>
<%= render 'footer' %>