<!-- <div id="particles-js"> -->
<div id="background">
    <div class="header">
    <%= render "shared/application_nav" %>
        <div class="welcome-content">
                <p class="lead">I'm here to create beautiful websites and web applications for my clients</p>
                <h1 class="cover-heading">Let's build something amazing together</h1>
                <p>
                    <%= link_to "About Me", about_path, class: "btn-home" %>
                    <%= link_to "My Resume", about_path, class: "btn-home" %>
                </p>
        </div>
    </div>
</div>
<div class="content">
    <div class="my-promise">
        <h1>Hard Work! Dedication! Always Learning!</h1>
        <p>I approach every new job, or project with the mentality to work hard, dedicate myself, and learn something new.  Constantly improving and giving everything my very best is a promise I can give to you, and myself!</p>
    </div>
    <div class="my-work">
        <h1>Limitless features to your website or project can take you beyound the ordinary!</h1>
        <div class="row features">
            <div class="col-md-4">
                <%= image_tag "ruby.png", height: '150' %>
                <p>I've developed a deep passion for programming and building websites with Ruby and Ruby on Rails.  With Ruby you can unlock the flexibility and clean look of Ruby and have nearly any need for web application built in Ruby!</p>
            </div>
            <div class="col-md-4">
                <%= image_tag "wordpress.png", height: '150' %>
                <p>Is WordPress your fancy? WordPress is one of the largest used platforms on the web today! With an easy to use interface for the user, and the admin I can build a custom website for you and give you immediate access to tools, tips, and a wide range of features built right in. </p>
            </div>
            <div class="col-md-4">
                <%= image_tag "react.png", height: '150' %>
                <p>Whether it is React.JS or Angular.JS these two front-end frame works can take your website from looking great, to memorable for all your visitors. Add additional features to give you flexibilty and great user experience and you'll be raving for days.</p>
            </div>
        <div class="col-md-12">
            <p>See what other languages or services I can privde to you!</p>
            <%= link_to "See More", root_path, class: "btn btn-primary"%>
        </div>
        </div>
    </div>
    <div class="projects">
        <h1>My most recent projects!</h1>
        <div class="row features">
                <%= render partial: 'shared/portfolios_home' %>
            <div class="col-md-12">
                <p><%= link_to "View Portfolio", portfolios_path, class: 'btn btn-info ' %></p>
            </div>
        </div>
    </div>
    <div class="lets-work">
        <div class="header">
            <div class="hire-me">
                <h1>I am avaible to work on your project today!</h1>
                <%= link_to 'Contact', contact_path, class: 'btn-home' %>
            </div>
        </div>
    </div>
    <div class="blogs">
        <h1>See what I've been blogging about!</h1>
        <p>I even enjoy sharing tutorials for new things I have learned while developing!</p>
            <div class="row features">
                    <%= render partial: 'shared/blogs_home' %>
                <div class="col-md-12">
                    <p><%= link_to "View My Blog", blogs_path, class: 'btn btn-info ' %></p>
                </div>
            </div>
    </div>
    <div class="footer">
        <h2>Don't wait another day to get started on your project!</h2>
        <br>
        <%= render "shared/application_footer" %>
        <br>
            <div class="social-links">
                <%= link_to fa_icon('github'), 'https://github.com/bZodeJames' , width: '25', target: :_blank %>
                <%= link_to fa_icon('twitter'), 'https://twitter.com/bZodeJames' , width: '25', target: :_blank %>
                <%= link_to fa_icon('linkedin'), 'https://www.linkedin.com/in/briggsjamesm/' , width: '25', target: :_blank %>
                <%= link_to fa_icon('instagram'), 'https://www.instagram.com/jamesmbriggs' , width: '25', target: :_blank %>
            </div>
        
    </div>
</div>

 
<!-- </div> -->