<!-- <div id="particles-js"> -->
<%= render 'header_welcome' %>
<div class="content">
    <%= render 'services' %>
    <%= render 'projects' %>
    <%= render 'contact' %>
    <%= render 'blogs' %>
    <%= render 'footer' %>
</div>

 
<!-- </div> -->