<%= form_with(model: @service, local: true) do |f| %>
  <div class="field">
    <%= f.text_field :title, id: :service_title, class: 'form-control', placeholder: "Service Title" %>
  </div>
<br>
  <div class="field">
    <%= f.text_field :icon, id: :service_icon, class: 'form-control', placeholder: "Icon" %>
  </div>
<br>
  <div class="field">
    <%= f.text_area :description, id: :service_description, class: 'form-control', placeholder: "Description" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>